body, fieldset {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #2b1f21;
    background-color: #e8ebe8;
}

table, fieldset, h2 {
    text-align: center
}

fieldset, td, legend, label, input {
    padding: 0.3rem;
}

fieldset, td{
    border:3px solid #2b1f21;
    margin: 0.3rem;
}

label, input {
    display: block;
    margin : 0.1rem;
}

footer {
    margin: 2rem;
}

table {
    display: flex;
    flex-flow: column;
}

fieldset {
    width: min-content;
}

input {
    background-color: #DFE0DF;
}

input[type="button"], tfoot {
    background-color: #2b1f21;
    color: #e8ebe8;
}

input[type="button"] {
    margin : 0.5rem;
    margin-left: 0.1rem;
}
